@use "@/utils/styles/vars" as *;

.dropdown {
    @include button();

    width: fit-content;

    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    &:hover:not(.dropdown--disabled) {
        .dropdown__icon:not(.dropdown__icon--open) svg {
            transform: translateY(1px);
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &__input {
        margin: 0;
        padding: 0;
        border: none;
        background-color: unset;
        font-size: inherit;
        font-family: inherit;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        cursor: pointer;
        pointer-events: none;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        pointer-events: none;

        svg {
            width: 14px;
            height: 14px;
            transition: transform var(--transition-default);

            path {
                transition: var(--transition-default);
            }
        }

        &--open {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}