.switcher {
    $this: &;

    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
    margin: 7px 10px;

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
        transition: var(--transition-default);
        border-radius: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--border-color2);
            mask-image: url(/test-chart/images/themes/light-theme.svg);
            mask-size: 16px;
            mask-repeat: no-repeat;
            mask-position: right 2px top 50%;
            transition: var(--transition-default);
        }

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--bg-color);
            transition: var(--transition-default);
            border-radius: 50%;
            border: 1px solid var(--border-color);
            z-index: 1;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+#{$this}__slider {
            &::after {
                mask-image: url(/test-chart/images/themes/dark-theme.svg);
                mask-position: left 2px top 50%;
            }

            &:before {
                transform: translateY(-50%) translateX(18px);
            }
        }

        &:disabled+#{$this}__slider {
            cursor: default;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1150px) {
    .switcher {
        margin: 7px 0;
    }
}