    .switcher {
        $this: &;

        position: relative;
        display: inline-block;
        width: 44px;
        height: 26px;
        border-color: black;
        margin: 7px 10px;

        &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--bg-color);
            border: 2px solid var(--border-color2);
            transition: var(--transition-default);
            border-radius: 20px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--border-color2);
                mask-image: url(../../../../public/images/themes/light-theme.svg);
                mask-size: 20px;
                mask-repeat: no-repeat;
                mask-position: right;
                transition: var(--transition-default);
            }

            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 0;
                bottom: 0;
                background-color: var(--bg-color);
                transition: var(--transition-default);
                border-radius: 50%;
                border: 2px solid var(--border-color2);
                z-index: 1;
            }
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+#{$this}__slider {
                &::after {
                    mask-image: url(../../../../public/images/themes/dark-theme.svg);
                    mask-position: left;
                }

                &:before {
                    transform: translateX(18px);
                }
            }

            // &:disabled+#{$this}__slider {
            //     cursor: default;
            //     opacity: 0.5;
            // }
        }

    }

    // @media screen and (max-width: 1150px) {
    //     .switcher {
    //         margin: 7px 0;
    //     }
    // }