:root {
    //colors
    --lightBgColor: #ffffff;
    --darkBgColor: #000027;

    --lightTextColor: #ffffff;
    --darkTextColor: #1B1B23;

    --lightBorderColor: #C7C5D0;
    --darkBorderColor: #414163;

    //effects

    --transition-default: .3s ease;
}


@mixin button() {
    padding: 0;
    margin: 0;
    background-color: unset;
    border: 1px solid var(--border-color);
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    align-items: center;
    height: 27px;
    width: 27px;

    svg {
        width: 11px;
        height: 11px;

        path {
            fill: var(--border-color2);
        }
    }

    &:hover,
    &:active {
        background-color: transparantize(var(--border-color2), 0.5);
    }
}