@use "./themes/index.scss" as *;

:root {
    //colors
    --lightBgColor: #ffffff;
    --darkBgColor: #000027;

    --lightTextColor: #ffffff;
    --darkTextColor: #1B1B23;

    --lightBorderColor: #C7C5D0;
    --darkBorderColor: #414163;

    //hover states
    --hover-bg-color: rgba(65, 65, 99, 0.08);
    --hover-border-color: #9D9BB0;

    --active-bg-color: rgba(65, 65, 99, 0.15);
    --active-border-color: #7A7890;

    //effects

    --transition-default: .3s ease;
}


@mixin button() {
    padding: 0;
    margin: 0;
    background-color: unset;
    border: 1px solid var(--border-color);
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    align-items: center;
    height: 27px;
    width: 27px;
    transition: all var(--transition-default);

    svg {
        width: 11px;
        height: 11px;

        path {
            fill: var(--border-color2);
            transition: var(--transition-default);
        }
    }

    &:hover:not(:disabled) {
        background-color: var(--hover-bg-color);
        border-color: var(--hover-border-color);
    }

    &:active:not(:disabled) {
        background-color: var(--active-bg-color);
        border-color: var(--active-border-color);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}