@import-normalize;
@import './fonts/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 37px (100vw / (1280/50)) 60px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #2C2E3E;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    margin: 20px 16px;
    display: block;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
