.settings {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__data_chart {
        display: flex;
        gap: 8px;

        &__drd_vars {
            width: 160px;
        }
    }

    &__tools {
        display: flex;
        gap: 10px;

        &__buttons {
            display: contents;
        }

        li {
            &:first-child {
                margin-right: 10px;
            }
        }

        &__zoom {
            display: flex;
            margin-left: -10px;

            button {
                &:first-child {
                    border-right: none;
                    width: 26px;
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        &__no_frame_btn {
            // &:last-child {
            //     button {
            //         padding-left: 0;
            //     }
            // }

            button {
                border: none;
            }
        }
    }
}

.dropdownMenuVariations,
.dropdownMenuLineStyle,
.dropdownMenuDate {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 1000;
}

@media screen and (max-width: 671px) {
    .settings {
        flex-direction: column;

        &__data_chart {
            flex-direction: column;
        }

        &__tools {
            flex-direction: column;

            &__buttons {
                display: flex;
            }
        }
    }
}