.settings {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__data-chart {
        display: flex;
        gap: 8px;

        li {
            position: relative;
        }

        &__drd-vars {
            width: 160px;
        }

        &__drd-menu {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            z-index: 1000;
        }
    }

    &__tools {
        display: flex;
        gap: 10px;

        &__buttons {
            display: contents;
        }

        li {
            position: relative;

            &:first-child {
                margin-right: 10px;
            }
        }

        &__zoom {
            display: flex;
            margin-left: -10px;

            button {
                position: relative;

                &:first-child {
                    width: 26px;
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    margin-left: -1px;
                    border-radius: 0 4px 4px 0;
                }

                &:hover:not(:disabled) {
                    z-index: 1;
                }
            }
        }

        &__no-frame-btn {

            button {
                border: none;
            }

            &+& {
                margin-left: -10px;
            }
        }
    }
}

@media screen and (max-width: 671px) {
    .settings {
        flex-direction: column;

        &__data-chart {
            flex-direction: column;
        }

        &__tools {
            flex-direction: column;

            &__buttons {
                display: flex;
            }
        }
    }
}